<div class="d-flex flex-start mb-3">
  <img class="rounded-circle shadow-1-strong me-3"
    src="{{comentario.imagenAvatarBASE64}}" alt="avatar" width="60"
    height="60" />
  <div>
    <h6 class="fw-bold mb-1">{{comentario.login}}</h6>
    <div class="d-flex align-items-center mb-3">
      <p class="mb-0">
        {{ formatDate(comentario.date) }}
        <span 
        class="badge" 
        [ngClass]="comentario.state === 'Revisado' ? 'bg-danger' : 'bg-primary'">
        {{ comentario.state }}
      </span>
      </p>
      <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
      <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
      <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
    </div>
    <p class="mb-3">
      <strong> {{comentario.comment}}</strong>
    </p>
  </div>
</div>
